X-IG-Device-ID: B46052D3-AF05-4A75-84FE-0D5883CE8058
X-IG-App-Startup-Country: KR
X-IG-Capabilities: 36r/Fwc=
X-IG-Device-Locale: en-KR
X-IG-ABR-Connection-Speed-KBPS: 3
IG-U-Ds-User-ID: 366070557
Accept-Language: en-US;q=1.0
User-Agent: Instagram 144.0.0.17.119 (iPhone8,4; iOS 13_5; en_KR; en-KR; scale=2.00; 640x1136; 217426887) AppleWebKit/420+
Content-Type: application/x-www-form-urlencoded; charset=UTF-8
X-IG-App-Locale: en
X-IG-Extended-CDN-Thumbnail-Sizes: 249,373,412
X-IG-Bandwidth-Speed-KBPS: 4.110
X-IG-Mapped-Locale: en_US
X-MID: XuTO5wAAAAElFmCOYNubpuRESFfY
IG-U-Shbid: 14798
IG-U-Shbts: 1592053459.6494713
X-Bloks-Version-Id: 555f61dd0ded5ddf4201c89e12bb453bf605f9bc9d321a69f6e0f11ed9308664
X-IG-Connection-Speed: 137kbps
X-IG-App-ID: 124024574287414
X-IG-Connection-Type: WiFi
X-Tigon-Is-Retry: False
Accept-Encoding: gzip, deflate
Host: i.instagram.com
X-FB-HTTP-Engine: Liger
Connection: close
